<mat-card>
    <mat-tab-group>
            <mat-tab label="Tab1">
                <h1>Tab content switch between views within a single route</h1>
                <p>...</p>
            </mat-tab>
            <mat-tab label="Tab2">
                <h1>Tab content switch between views within a single route</h1>
                <p>...</p>
            </mat-tab>
    </mat-tab-group>
</mat-card>

<mat-card>
        <mat-tab-group>
                <mat-tab label="Tab1">
                    <h1>Tab content switch between views within a single route</h1>
                    <p>...</p>
                </mat-tab>
                <mat-tab label="Tab2">
                    <h1>Tab content switch between views within a single route</h1>
                    <p>...</p>
                </mat-tab>
        </mat-tab-group>
</mat-card>
