@import './../../../public/scss/styles.scss';
.detail-dashboard{
    border: 1px solid grey;
    width: 600px;
    height: 200px;
    background: lightcoral;
    padding: 20px;
    h1{
        color:$color_text;
    }
}