
.dashboard{
    .module{
        background-color: #607D8B;
        border-radius: 2px;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 20px;
        a{
            list-style-type: none;
            color: #eee;
            text-align: center;
            text-decoration: none;
        }
        &:hover{
            background: blue;
        }
        
    }
}
    
