<div>
    <h1 mat-dialog-title>Title dialog</h1>
    <hr>
    <mat-dialog-content>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsam aperiam, nobis laboriosam odit unde similique accusantium laudantium culpa fuga optio accusamus molestiae natus, provident quis, ab id in dolores.
        <br>
        <strong>{{data.animal}}</strong>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="closeConfirm();">Confirm</button>
        <button mat-raised-button (click)="closeCancel();">Cancel</button>
    </mat-dialog-actions>
</div>
