
<mat-card>
<h3>MENU(NORMAL)</h3>
<div class="normal-menu">
    <nav class="menu">
        <ul fxLayout fxLayout.xs="column" fxLayoutAlign="center stretch">
            <li fxFlex>Cate1
                <ul class="submenu">
                    <li>Item1
                        <ul class="submenu2">
                            <li>SubItem1
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem2
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem3
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Item2
                        <ul class="submenu2">
                            <li>SubItem4.1
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4.2
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4.3
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4.4
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Item3
                        <ul class="submenu2">
                            <li>SubItem4.1
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4.2
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4.3
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4.4
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Item4
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li fxFlex>Cate2
                <ul class="submenu">
                    <li>Item1
                        <ul class="submenu2">
                            <li>SubItem1</li>
                            <li>SubItem2</li>
                            <li>SubItem3</li>
                            <li>SubItem4</li>
                        </ul>
                    </li>
                    <li>Item2
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                            <li>SubItem4.4</li>
                        </ul>
                    </li>
                    <li>Item3
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                            <li>SubItem4.4</li>
                        </ul>
                    </li>
                    <li>Item4
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li fxFlex>Cate3
                <ul class="submenu" >
                    <li>Item1
                        <ul class="submenu2">
                            <li>SubItem1
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem2
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem3
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Item2
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                            <li>SubItem4.4</li>
                        </ul>
                    </li>
                    <li>Item3
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                            <li>SubItem4.4</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li fxFlex>Cate4
                <ul class="submenu">
                    <li>Item1
                        <ul class="submenu2">
                            <li>SubItem1
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem2
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem3
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                            <li>SubItem4
                                <ul class="submenu3">
                                    <li><a>Submenu3.1</a></li>
                                    <li><a>Submenu3.2</a></li>
                                    <li><a>Submenu3.3</a></li>
                                    <li><a>Submenu3.4</a></li>
                                    <li><a>Submenu3.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Item2
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                            <li>SubItem4.4</li>
                        </ul>
                    </li>
                    <li>Item3
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                            <li>SubItem4.4</li>
                        </ul>
                    </li>
                    <li>Item4
                        <ul class="submenu2">
                            <li>SubItem4.1</li>
                            <li>SubItem4.2</li>
                            <li>SubItem4.3</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</mat-card>
<hr>
<hr>
<mat-card>
    <h1>MENU(FLEXLAYOUT+MENU MATERIAL)</h1>
    <div class="icon-menu-responsive">
        <button  mat-icon-button  [matMenuTriggerFor]="menu">
            <mat-icon> more_vert </mat-icon>    
        </button> 
    </div>
   
    <nav class="container-menu">
        <ul class="menu" fxLayout fxLayout.xs="column">
            <li fxFlex><a [matMenuTriggerFor]="menu1">Menu1</a></li>
            <li fxFlex><a [matMenuTriggerFor]="menu2">Menu2</a></li>
            <li fxFlex><a [matMenuTriggerFor]="menu3">Menu3</a></li>
            <li fxFlex><a [matMenuTriggerFor]="menu4">Menu4</a></li>
            <li fxFlex><a routerLink="./">Menu5</a></li>
        </ul>

        <mat-menu  #menu="matMenu" overlapTrigger="false" >
                <button mat-menu-item   [matMenuTriggerFor]="menu1">
                    Menu1 
                </button>
                <button mat-menu-item  [matMenuTriggerFor]="menu2">
                    Menu2 
                </button>
                <button mat-menu-item  [matMenuTriggerFor]="menu3">
                    Menu3 
                </button>
                <button mat-menu-item  [matMenuTriggerFor]="menu4">
                    Menu4 
                </button>
        </mat-menu>

        <mat-menu  #menu1="matMenu" overlapTrigger="false" >
            <button mat-menu-item  [matMenuTriggerFor]="menus1">
                <mat-icon> home </mat-icon>
                <span> Item1 </span>
            </button>
            <button mat-menu-item  [matMenuTriggerFor]="menus2">
                <mat-icon> voicemail </mat-icon>
                <span> Item2 </span>
            </button>
        </mat-menu>

        <mat-menu #menu2="matMenu" overlapTrigger="false">
            <button mat-menu-item>Item1dsadsadsdsadsadsaasd</button>
            <button mat-menu-item>Item2</button>
            <button mat-menu-item>Item3</button>
            <button mat-menu-item>Item4</button>
        </mat-menu>
        <mat-menu #menu3="matMenu" >
            <button mat-menu-item>Item11</button>
            <button mat-menu-item>Item22</button>
            <button mat-menu-item>Item33</button>
            <button mat-menu-item>Item44</button>
        </mat-menu>
        <mat-menu #menu4="matMenu" >
            <button mat-menu-item>Item11</button>
            <button mat-menu-item>Item22</button>
            <button mat-menu-item>Item33</button>
            <button mat-menu-item>Item44</button>
        </mat-menu>
        <mat-menu #menu5="matMenu" >
            <button mat-menu-item>Item11</button>
            <button mat-menu-item>Item22</button>
            <button mat-menu-item>Item33</button>
            <button mat-menu-item>Item44</button>
        </mat-menu>
        <mat-menu #menus1="matMenu" >
            <a routerLink ="./" mat-menu-item>Itemss1</a>
            <a routerLink ="./" mat-menu-item>Items2</a>
            <a routerLink ="./" mat-menu-item>Items3</a>
            <a routerLink ="./" mat-menu-item>Ites44</a>
        </mat-menu>
        <mat-menu #menus2="matMenu" >
            <a routerLink ="" mat-menu-item>Itemss2</a>
            <a routerLink ="" mat-menu-item>Items22</a>
            <a routerLink ="" mat-menu-item>Items32</a>
            <a routerLink ="" mat-menu-item>Ites442</a>
        </mat-menu>
     </nav>
</mat-card>