

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
}
.ng2-opd-popup-content-main {
 //   position: absolute;
//    border-radius: 3px;
    background-color: pink !important;
 //   z-index: 999;
   // top: 30%;
   // text-align: center;
  }
