<div class="container weather">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
    <h1>WEATHER (http get method)</h1>
    <h2>{{cityname === '' ? 'Input your city name' : ('Weather '+ cityname + ' is now ' + temperature)}} </h2>
   <form (ngSubmit)="getWeather()" #formWeather="ngForm">
        <input name="city" type="text" placeholder="Enter your city name" [(ngModel)] ="cityNameText" required>
        <button class ="btn btn-info" [disabled]="formWeather.invalid">Submit</button>
   </form>
    
</div>
<div #popupError >
    <div class="modal-popup">
        <div class="content">
             <a class="close" (click)="closePopup();" href="#">&times;</a>
             <div class="message-content">
                <p>City is not found!</p>
                <p>Please input a right city!</p>
             </div>
            
        </div>
    </div>
</div>

   
    
