.weather{
    padding : 20px;
    border: 1px solid red;
}
.submit-btn{
    line-height: 65px;;
}
.head{
    color: red;
}

.spinner-loading{
    //color:yellow !important;
    position: absolute;
    top: 50%;
    left: 50%;
}
