.weather{
    padding : 20px;
    border: 1px solid red;
}
.submit-btn{
    line-height: 65px;;
}
.head{
    color: red;
}

.spinner-loading{
    //color:yellow !important;
    position: absolute;
    top: 50%;
    left: 50%;
}
.go-btn{
    text-align: right;
}

.form-test{
    padding: 30px;
}
.mat-card .divider-line .mat-divider{
    position: relative;
}