<mat-card>
    <h1>USING NGX-LOADING, AND ANGULAR ANIMATION</h1>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap  class="weather">
        <div fxFlex="100">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
        </div>
        <div fxFlex="100">
            <h1>WEATHER (http get method)</h1>
            <h2>{{cityname === '' ? 'Input your city name' : ('Weather '+ cityname + ' is now ' + temperature)}} </h2>
        </div>
       
       <form fxFlex="100" fxLayout fxLayout.xs ="column" fxLayoutGap="10px" fxLayout.sm ="column" (ngSubmit)="getWeather()" #formWeather="ngForm">
            <mat-form-field fxFlex="30">
                <input matInput  name="city" type="text" placeholder="Enter your city name" [(ngModel)] ="cityNameText" required>
            </mat-form-field>
            <div fxFlex="20" class="submit-btn">
                <button mat-raised-button color="primary" [disabled]="formWeather.invalid">Submit</button>
            </div>
            
       </form>
        
    </div>
    
</mat-card>
<br><br>

<mat-card >
    <h1 class="head">GET RES API WITH AUTHENTICATE USER(TOKEN)</h1>
    <button mat-raised-button color="primary" (click)="getAPI();">GET API</button>
    <mat-progress-spinner mode="indeterminate" *ngIf="isShowSpinner"  class="spinner-loading" color="primary"></mat-progress-spinner>
</mat-card>




   
    
